/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Variables */
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    --scala: 1.2;
    --base: 0.9375rem;

    --size-xl: calc(var(--size-lg) * var(--scala));
    --size-lg: calc(var(--size-normal) * var(--scala));
    --size-normal: var(--base);
    --size-sm: calc(var(--size-normal) / var(--scala));
    --size-xs: calc(var(--size-sm) / var(--scala));

    --font-primary: 'Overpass', Arial, Helvetica, sans-serif;
}

/* Styles */
body {
    font-family: var(--font-primary);
    font-size: var(--size-normal);
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    background: linear-gradient(45deg, var(--very-dark-blue), var(--dark-blue));
    border: solid 0.2px var(--dark-blue);
    border-radius: 15px;
    max-width: 375px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h2 {
        margin-bottom: 1rem;
    }
}

.star-icon {
    background-color: var(--dark-blue);
    padding: 0.8rem;
    border-radius: 50%;
    width: fit-content;
    border: 0.2px solid var(--very-dark-blue);
}

h2 {
    font-weight: 700;
    font-size: var(--size-xl);
}

p {
    font-weight: 400;
    color: var(--light-grey);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

legend {
    display: none;
}

fieldset {
    border: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

button {
    background-color: var(--orange);
    border: 0;
    border-radius: 20px;
    color: var(--dark-blue);
    padding: 1rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

input {
    display: none;
}

label {
    background-color: var(--dark-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
    font-weight: 700;
    border: 0.2px solid var(--very-dark-blue);
    cursor: pointer;

    &:hover {
        background-color: var(--orange);
        color: var(--dark-blue);
    }
}

div p {
    margin-top: 0.4rem;
}

input:checked + label {
    background-color: var(--white);
    color: var(--dark-blue);
}

article.thanks-message {
    align-items: center;

    img {
        max-width: 45vw;
    }

    p {
        text-align: center;
    }
    h2 {
        margin-bottom: 0;
    }
}
p.selection {
    background-color: var(--dark-blue);
    border: 0.2px solid var(--very-dark-blue);
    border-radius: 5rem;
    color: var(--orange);
    padding-bottom: 0.6rem;
    padding-inline: 1rem;
    font-weight: 400;
    padding-top: 0.8rem;
}
